<h1 style="margin-bottom: 50px">
  Login
</h1>

<%= form_for @user,url: auth_url,remote: true  do |f| %>
  <div class="field">
    <%= f.label 'login' %>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label 'password' %>
    <%= f.text_field :password , type: :password %>
  </div>

  <div class="field">
    <%= f.submit 'login'%>
  </div>

<% end %>