<div class="navbar">
  <%- if @current_user %>
    <%= @current_user.username %>
    <%= link_to 'Measure' ,measures_url %>
    <%= link_to 'Recipes' ,recipes_url %>
    <%= link_to 'Exit', auth_url,method: :delete %>
  <%- else %>
    <%= link_to 'Log in', auth_url %>
  <%end %>
</div>