<!DOCTYPE html>
<html>
  <head>
    <title>Cooker Helper</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .b1{ color: white}
    </style>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/errors' %>
    <%= yield %>


<!-- Feedback Modal-->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-gradient-primary-to-secondary p-4">
        <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Регистрация </h5>
        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body border-0 p-4">
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="53edcbd9-1b90-4dc2-8108-526d4108bc88">
          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" placeholder="Введи ник..." data-sb-validations="required" />
            <label for="name">Никнейм </label>
            <div class="invalid-feedback" data-sb-feedback="name:required">Ник не ник.</div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required" />
            <label for="email">Почта </label>
            <div class="invalid-feedback" data-sb-feedback="email:required">Почта не почта.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Почта не валидна.</div>
          </div>
          <!-- Phone number input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-78-90" data-sb-validations="required" />
            <label for="phone">Номер телефона</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">Номер не номер.</div>
          </div>
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Вы успешно зарегистрированы!</div>
              <br />
              <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Одна ошибка и ты ощибся!</div></div>
          <!-- Submit Button-->
          <div class="d-grid"><button class=" btn-primary rounded-pill btn-lg disabled" id="submitButton" type="submit">Создать аккаунт</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="app/javascript/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>