<!DOCTYPE html>
<html>
  <head>
    <title>Cooker Helper</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .b1{ color: white}
    </style>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/errors' %>
    <%= yield %>


<!-- Feedback Modal-->
</body>
</html>